@import "../../../styles/abstracts/__abstracts.scss";

.address-info {
  h5,
  h6 {
    @include font-sourcesanspro-bold;
    margin-bottom: 0;
  }

  h5 {
    margin-bottom: 2px;
  }

  h6 {
    color: $color-grey;
    margin-bottom: 8px;
  }
}

.etherum-address {
  display: inline-block;
  word-break: break-all;
}
