@import "../../styles/abstracts/__abstracts.scss";

.simple-verify-block {
  width: 100%;
  min-width: 320px;
  color: $color-white;
  box-shadow: 2px 2px 4px 0 $color-greyblue;
  border-radius: 5px;

  > div {
    padding: 2px 0;
  }

  &.valid {
    @include block-color($color-success);
  }

  &.warning {
    @include block-color($color-warning);
  }

  &.invalid {
    @include block-color($color-invalid);
  }

  &.active {
    border-radius: 5px 5px 0 0;

    @media only screen and (min-width: $lg) {
      border-radius: 5px 0 0 5px;
      border-right-color: $color-white;
    }
  }
}

.arrow {
  margin: 0 15px;
}

.verification-text {
  @include font-size(20);
  word-break: break-all;
}

.verified-icon {
  margin: 0 10px;
}
