@import "../../../styles/abstracts/__abstracts.scss";

.viewer-container {
  text-align: center;
  padding: 24px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  min-height: 400px;

  @media only screen and (min-width: $lg) {
    min-height: 600px;
  }

  &.default {
    @include dropzone-status($color-blue-lightest, $brand-blue);
  }

  &.accept {
    @include dropzone-status($color-green-lightest, $brand-blue);
  }

  &.warning {
    @include dropzone-status(lighten($color-warning, 25%), $color-warning);
    color: $color-warning;

    .unverified-btn {
      @include btn($color-warning, lighten($color-warning, 5%), $color-white);
    }
  }

  &.invalid {
    @include dropzone-status(lighten($color-invalid, 25%), $color-invalid);
    color: $color-invalid;

    .unverified-btn {
      @include btn($color-invalid, lighten($color-invalid, 5%), $color-white);
    }
  }
}

.unverified-btn-container {
  margin: auto;
  text-decoration: none;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.image-container {
  margin-bottom: 16px;

  img {
    height: 110px;
  }
}

.message-container {
  margin-top: 24px;
  margin-bottom: 8px;
  color: $color-black;

  span {
    vertical-align: middle;
  }
}

.verifications {
  margin-bottom: 32px;

  .messages {
    @include font-sourcesanspro-bold;
    @include font-size(18);
    margin-bottom: 0;
  }
}

.btn {
  @include btn($brand-blue);
  background-color: $color-white;
  margin: 0 10px 10px;
}

.disable-btn {
  position: absolute;
  top: 80%;
  left: 45%;
  z-index: 999;
}

.secondary-links {
  width: 50%;
  display: flex;
  margin: 16px auto 0;

  span {
    margin: auto;

    a {
      @include font-size(14);
    }
  }
}

.text-link {
  color: $color-grey;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $brand-navy;
  }
}
