@import "../../../styles/abstracts/__abstracts.scss";

.viewer-container {
  text-align: center;
  padding: 1.5rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  min-height: 400px;

  @media only screen and (min-width: $lg) {
    min-height: 600px;
  }

  &.default {
    background-color: $color-blue-lightest;
    border: 2px dashed $brand-blue;
    box-shadow: 0 0 0 10px $color-blue-lightest;
  }

  &.accept {
    background-color: $color-green-lightest;
    border: 2px dashed $brand-blue;
    box-shadow: 0 0 0 10px $color-green-lightest;
  }

  &.warning {
    background-color: $bg-warning;
    border: 2px dashed $color-warning;
    box-shadow: 0 0 0 10px $bg-warning;
    color: $color-warning;

    .unverified-btn {
      @include btn($color-warning, lighten($color-warning, 5%), #fff);
    }
  }

  &.invalid {
    background-color: $bg-invalid;
    border: 2px dashed $color-invalid;
    box-shadow: 0 0 0 10px $bg-invalid;
    color: $color-invalid;

    .unverified-btn {
      @include btn($color-invalid, lighten($color-invalid, 5%), #fff);
    }
  }
}

.unverified-btn-container {
  margin: auto;
  text-decoration: none;
}

.unverified-btn-container a:hover {
  text-decoration: none;
}

.image-container {
  margin-bottom: 1rem;

  img {
    height: 110px;
  }
}

.message-container {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: $color-black;

  span {
    vertical-align: middle;
  }
}

.verifications {
  margin-bottom: 2rem;

  .messages {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.btn {
  @include btn($brand-blue);
  background-color: $color-white;
  margin: 0 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.disable-btn {
  position: absolute;
  top: 80%;
  left: 45%;
  z-index: 999;
}

.secondary-links {
  width: 50%;
  display: flex;
  margin: 1rem auto 0 auto;

  span {
    margin: auto;

    a {
      font-size: 14px;
    }
  }
}

.text-link {
  color: $color-grey;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $brand-navy;
  }
}
