# When running npm run build, the following environment variables are required to be set in the CI/CD environment variables
NODE_ENV=
NET=
# Suggest to use npm run build:(dev|test|prod) to build the website

# Clone this file to .env with the following values filled in / or set in CI/CD environment variables
## Required for mainnet
STABILITY_API_KEY=
## Required for testnet
STABILITY_TESTNET_API_KEY=
## Required
INFURA_API_KEY=
## Optional
ALCHEMY_API_KEY=
MAGIC_API_KEY=
OKLINK_API_KEY=

## Required for Creator to work
DID_SERVER_URL=