/node_modules
yarn-error.log
.DS_Store
/out
/.coverage
/bundles
yarn.lock
.scannerwork
/dist
*.iml
/.idea
/docs
/src/index.css
/workflow
/artifacts
/tests/e2e/screenshots
/tests/e2e/videos
.lighthouseci
lighthouseReport
/public/static/sitemap.xml