# Unset the infura key with domain restriction for branch previews
# so that the default key (without domain restriction) is used instead
[context.deploy-preview]
  [context.deploy-preview.environment]
    INFURA_API_KEY = ""