[[redirects]]
  from = "/imd@"
  to = "/imd@/index.html"
  status = 200

[[redirects]]
  from = "/resources"
  to = "/learn"

[[redirects]]
  from = "/contact"
  to = "https://www.form.gov.sg/635f32c5001b2d0011fff09b"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = { Host = ["ref.tradetrust.io", "dev.tradetrust.io"] }

[[redirects]]
  from = "/*"
  to = "data:text/plain;charset=utf-8,400 Bad Request: Invalid Host Header. This domain is not authorized for TradeTrust."
  status = 400
  force = true

[build]
  ignore = "git log -1 --pretty=%B | grep dependabot"

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains"
    Content-Security-Policy = "img-src 'self' blob: data:; frame-ancestors 'self';"
    X-Frame-Options = "SAMEORIGIN"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "geolocation=(), microphone=(), camera=(), usb=(), bluetooth=(), payment=()"
