@import "../../styles/abstracts/__abstracts.scss";

.main {
  padding: 32px;

  h1 {
    color: $brand-navy;
  }
}

.title {
  text-align: center;
}

.content-container {
  padding: 24px 0;

  h4 {
    @include font-montserrat-semibold;
    color: $brand-orange;
  }
}

.question {
  @include font-size(18);

  h5 {
    @include font-montserrat-semibold;
    color: $color-grey-dark;
    padding-bottom: 0;
  }
}

.answer {
  color: $brand-navy;
}
