@import "../../styles/abstracts/__abstracts.scss";

.statusbar {
  background-color: $color-red-lighter;
  padding-top: 20px;
  padding-bottom: 20px;
}

.statusbar-title {
  display: inline;
  padding-bottom: 0;
  color: $color-danger;
  font-size: 24px;
}

.statusbar-dropdown {
  cursor: pointer;

  &:hover {
    @media only screen and (min-width: $lg) {
      .statusbar-dropdown-menu {
        display: block;
      }
    }
  }

  .statusbar-dropdown-toggle {
    text-align: center;
    white-space: normal;
    width: 100%;

    &::after {
      color: $color-danger;
    }

    @media only screen and (min-width: $lg) {
      pointer-events: none;
    }
  }

  .statusbar-dropdown-menu {
    padding: 15px 20px;
    right: 0;
    box-shadow: 0 5px 10px rgba($color-black, 0.2);

    @media only screen and (min-width: $lg) {
      left: auto;
      transform: translateX(calc(50% - 10px));
    }

    h6 {
      @include font-montserrat-semibold;
      margin-bottom: 0;
    }
  }
}

.statusbar-address {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  a {
    word-break: break-all;
  }
}

.statusbar-address-text {
  margin-bottom: 0;
}
