// =====================================================================
// Mixins
// =====================================================================

@mixin font-montserrat-regular {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin font-sourcesanspro-regular {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin btn(
  $color,
  $hover-bg: $color,
  $text: $color,
  $bg: $color,
  $hover-outline: $hover-bg
) {
  transition: box-shadow 0.3s $easeOutCubic;
  border: 1px solid $color;
  color: $text;
  background-color: $bg;
  padding: 7px 23px;
  border-radius: 7px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  min-width: 135px;
  cursor: pointer;

  &:hover {
    border: 1px solid $hover-bg;
    background-color: $hover-bg;
    box-shadow: 2px 2px 6px 0 #a7afb7;
    text-decoration: none;
    color: #fff;
  }
}

@mixin round-btn {
  border: 1px solid $round-btn-outline;
  background-color: #fff;
  border-radius: (50%);
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;

  svg {
    path,
    line {
      stroke: $round-btn-outline;
    }
  }

  &:hover {
    background-color: $round-btn-outline;
    box-shadow: 2px 2px 6px 0 #a7afb7;

    svg path {
      fill: $round-btn-outline;
    }

    path,
    line {
      stroke: #fff;
    }
  }
}

@mixin loading($w: 24px, $border-w: 4px, $spd: 0.9s, $primary: darken(#ffffff, 45%), $secondary: darken(#ffffff, 25%)) {
  width: $w;
  height: $w;
  margin-top: -($w / 2);
  margin-left: -($w / 2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: $border-w;
  border-top-color: $primary;
  border-left-color: $secondary;
  border-bottom-color: $secondary;
  border-right-color: $secondary;
  animation: spinning $spd linear infinite;
}
