// =====================================================================
// Mixins
// =====================================================================

@mixin loader-skeleton($w: 260px, $h: 24px, $bg: $color-grey-lighter, $loader-bg: $color-grey-lightest, $loader-w: 50%) {
  &:empty {
    &::after {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-color: $bg;
      background-image: linear-gradient(to left, $bg 0%, $loader-bg 50%, $bg 100%);
      background-size: $loader-w 100%;
      width: $w;
      height: $h;
      border-radius: 2px;

      &:global {
        animation: skeleton-loading 1.4s infinite;
      }
    }
  }
}

@mixin font-sourcesanspro-regular {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin font-sourcesanspro-bold {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin container-custom($mw-custom: $max-width) {
  width: 100%;
  max-width: 100%;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $sm) {
    max-width: $mw-sm;
  }

  @media only screen and (min-width: $md) {
    max-width: $mw-md;
  }

  @media only screen and (min-width: $lg) {
    max-width: $mw-lg;
  }

  @media only screen and (min-width: $xl) {
    max-width: $mw-custom;
  }
}

@mixin loading($w: 24px, $border-w: 4px, $spd: 0.9s, $primary: darken($color-white, 45%), $secondary: darken($color-white, 25%)) {
  width: $w;
  height: $w;
  margin-top: -($w / 2);
  margin-left: -($w / 2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: $border-w;
  border-top-color: $primary;
  border-left-color: $secondary;
  border-bottom-color: $secondary;
  border-right-color: $secondary;
  animation: spinning $spd linear infinite;
}
