// =====================================================================
// Variables
// =====================================================================

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$mw-sm: map-get($container-max-widths, "sm"); // 540px
$mw-md: map-get($container-max-widths, "md"); // 720px
$mw-lg: map-get($container-max-widths, "lg"); // 960px
$mw-xl: map-get($container-max-widths, "xl"); // 1140px

$sm: map-get($grid-breakpoints, "sm"); // 576px
$md: map-get($grid-breakpoints, "md"); // 768px
$lg: map-get($grid-breakpoints, "lg"); // 992px
$xl: map-get($grid-breakpoints, "xl"); // 1200px

$brand-blue: #0099cc;
$brand-navy: #324353;

$color-blue-lighter: #f3f8fc;
$color-blue: #099de3;
$color-greyblue: #c1c9d1;
$color-green: #00c04a;
$color-orange: #ffb152;
$color-red: #ff5268;
$color-grey-lightest: #f5f5f5;
$color-grey-lighter: #e5e5e5;
$color-grey: #8f8f8f;
$color-white: #ffffff;

$max-width: 1280px;
$padding-dropzone-boxshadow: 10px;

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
