@import "../../../styles/abstracts/__abstracts.scss";

.label-bordered {
  display: inline-block;
  padding: 0 6px;
  letter-spacing: 0.01rem;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: $color-grey;
  color: $color-grey;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: $color-white;

  @media only screen and (min-width: $lg) {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include font-sourcesanspro-bold;
  @include font-size(18);

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.red {
    border-color: $color-red;
    color: $color-red;
  }

  &.green {
    border-color: $color-green;
    color: $color-green;
  }
}
