@import "../../styles/abstracts/__abstracts.scss";

.section {
  padding: 60px 0;

  h3 {
    color: $brand-navy;
    border-left: 6px solid $brand-orange;
    padding-left: 32px;
    margin-bottom: 45px;
  }

  p {
    @include font-size(18);
  }
}

.content {
  background-color: $color-white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
  padding: 48px;

  svg {
    width: auto;
  }

  #onetwo {
    svg {
      height: 145px;
    }
  }

  #three {
    svg {
      height: 105px;
    }
  }

  #four {
    svg {
      height: 120px;
    }
  }

  .step {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .steptext {
    padding: 15px;
  }
}
