@import "../../styles/abstracts/__abstracts.scss";

h3 {
  color: $color-white;
}

.description {
  padding: 32px 0;
  text-align: center;

  @media only screen and (min-width: $md) {
    padding: 48px 64px;
  }

  @media only screen and (min-width: $lg) {
    padding: 32px 64px 48px 0;
    text-align: left;
  }

  p {
    @include font-size(18);
    padding: 24px 0;
    color: rgba($color-white, 0.7);
  }
}

.pulse {
  margin: 0 auto;
  display: table;
  margin-top: 50px;

  :global {
    animation: pulse 3s alternate infinite;
  }
}
