@import "../../styles/abstracts/__abstracts.scss";

@media print {
  #header-ui {
    display: none;
  }
}
#header-ui {
  background-color: $color-blue-lighter;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
}

.header-container {
  @include container-custom;
}

.tab {
  @include font-montserrat-regular;
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 24px 24px 16px;
  text-decoration: none;
  margin: 0 7px;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-grey;
  border-bottom: 5px solid $color-greyblue;

  &:hover {
    color: $brand-navy;
    border-bottom: 5px solid $brand-navy;
  }

  &.active {
    color: $brand-navy;
    border-bottom: 5px solid $brand-navy;

    @include font-montserrat-semibold;
    pointer-events: none;
  }
}
