@import "../../../styles/abstracts/__abstracts.scss";

.address-cta {
  button {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 8px;

    @media only screen and (min-width: $lg) {
      margin-top: 0;
      margin-left: 8px;
      margin-right: 0;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
