@import "../../styles/abstracts/__abstracts.scss";

.footer {
  background-color: $brand-navy;
  padding: 15px;

  @media print {
    display: none;
  }
}

.footer-content {
  @include container-custom;

  a {
    @include font-montserrat-regular;
    color: $color-greyblue;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }
}
