@import "../../styles/abstracts/__abstracts.scss";

.footer {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: $brand-navy;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: $max-width;

  a {
    @include font-montserrat-regular;
    color: $color-greyblue;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  div {
    text-align: left;
    margin-left: 2rem;
  }
}

@media print {
  #footer-print {
    display: none;
  }
}
