@import "../../../styles/abstracts/__abstracts.scss";

.detailed-certificate-block {
  border-width: 1px;
  border-style: solid;
  z-index: 100;
  box-shadow: 2px 2px 4px 0 $color-greyblue;
  position: absolute;

  border-radius: 0 0 5px 5px;
  top: calc(100% - 1px); // -1px for the border
  left: 0;
  width: 100%;
  min-width: 0;

  @media only screen and (min-width: $lg) {
    border-radius: 0 5px 5px 5px;
    top: 0;
    left: calc(100% - 1px);
    width: auto;
    min-width: 340px;
  }

  h5 {
    padding-bottom: 0;
  }

  &.valid-border-color {
    border-color: $color-success;
  }

  &.warning-border-color {
    border-color: $color-warning;
  }

  &.invalid-border-color {
    border-color: $color-invalid;
  }
}
