@import "../../../styles/abstracts/__abstracts.scss";

.button {
  transition: background-color 0.3s $easeOutCubic, color 0.3s $easeOutCubic, box-shadow 0.3s $easeOutCubic;

  @include font-sourcesanspro-bold;
  @include font-size(18);
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 0;
  padding: 6px 12px;
  letter-spacing: 0.01rem;
  border-radius: $btn-radius;
  box-shadow: 0 2px 8px rgba($color-black, 0.15);
  background-color: $color-grey;
  color: $color-white;
  min-height: 40px;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    box-shadow: none;
    background-color: $color-grey-lighter;

    &.primary {
      background-color: lighten($brand-orange, 20%);
    }

    &.white {
      background-color: darken($color-white, 3%);
    }

    &.text-primary {
      color: lighten($brand-orange, 20%);
    }

    &.text-secondary {
      color: lighten($brand-blue, 20%);
    }
  }

  &.icon {
    svg {
      max-width: 16px;
    }
  }

  &.icontext {
    svg {
      padding-right: 8px;
    }
  }

  &.bordered {
    @include font-sourcesanspro-regular;
    background-color: $color-white;
    border: solid 1px $color-grey;
    color: $color-grey;

    &:hover {
      background-color: $color-grey;
      color: $color-white;
    }

    &.tertiary {
      border: solid 1px $brand-navy;
      color: $brand-navy;

      &:hover {
        background-color: $brand-navy;
        color: $color-white;
      }
    }
  }

  &.circle {
    min-height: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    box-shadow: none;

    svg {
      display: flex;
      height: 18px;

      line {
        color: $color-grey-dark;
        stroke-width: 3px;
      }
    }
  }

  svg {
    display: block;
    width: 100%;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    background-color: darken($color-grey, 15%);
    box-shadow: 0 2px 6px rgba($color-black, 0.3);
  }

  &.white {
    background-color: $color-white;
  }

  &.primary {
    background-color: $brand-orange;

    &:hover {
      background-color: darken($brand-orange, 20%);
    }
  }

  &.grey-light {
    background-color: $color-grey-light;

    &:hover {
      background-color: $color-grey-lighter;
      box-shadow: none;
    }
  }

  &.text-primary {
    color: $brand-orange;

    &:hover {
      background-color: rgba($brand-orange, 0.1);
    }
  }

  &.text-secondary {
    color: $brand-blue;

    &:hover {
      background-color: rgba($brand-blue, 0.1);
    }
  }
}
