@import "../../../styles/abstracts/__abstracts.scss";

.title-view {
  padding-top: 20px;
  padding-bottom: 20px;

  @media only screen and (min-width: $lg) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
