@import "../../styles/main.scss";

$y-section: 40px;
$y-field: 15px;
$border-color: rgba($color-black, 0.1);

.tokensidebar {
  transition: transform 0.7s $easeOutCubic;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 340px;
  transform: translateX(100%);

  @media only screen and (min-width: 992px) {
    max-width: 380px;
  }

  &.is-expanded {
    transform: translateX(0%);

    .tokensidebar-content {
      box-shadow: 0 0 10px rgba($color-black, 0.2);
    }

    .hamburger {
      svg {
        transform: rotateY(-180deg);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 8px;
    font-size: 18px;
  }

  label {
    width: 100%;
    margin-bottom: 0;
  }

  header {
    padding-bottom: $y-section;
  }
}

.heading {
  margin-bottom: 30px;

  h2 {
    margin-bottom: 10px;
  }

  h4 {
    color: rgba($color-black, 0.4);
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.divider {
  width: 50px;
  height: 4px;
  background-color: $border-color;
}

.tokensidebar-content {
  transition: box-shadow 0.7s $easeOutCubic;
  background-color: $color-white;
  height: 100%;
  padding: 30px;
  overflow: auto;
}

.etherscan-address {
  margin-bottom: 40px;
}

.transaction-message {
  text-align: center;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.success-checked {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  border: solid 2px $success-color;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    stroke: $success-color;
    stroke-width: 3px;
    width: 40px;
    height: 40px;
  }
}

.message {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.message-success {
  color: $success-color;
}

.message-error {
  color: $danger-color;
  margin-top: 10px;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
  }
}

.hamburger {
  transition: background-color 0.3s $easeOutCubic, box-shadow 0.7s $easeOutCubic;
  position: absolute;
  top: 92px; // agaration to mobile navtop
  left: 0;
  width: 50px;
  height: 50px;
  background-color: $color-white;
  transform: translateX(-100%);
  box-shadow: -4px 0 8px rgba($color-black, 0.1);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transition: transform 0.9s $easeOutCubic;
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: darken($color-white, 5%);
  }
}

.sec {
  margin-bottom: $y-section;
  padding-bottom: $y-section;
  border-bottom: solid 2px $border-color;

  &:last-child {
    margin-bottom: 0;
  }

  &.sec-header {
    margin-bottom: 45px;
    padding-bottom: 20px;
    border-bottom: 0;
  }
}

.field {
  margin-bottom: $y-field;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-single {
  margin: 20px 0;

  h6 {
    text-transform: uppercase;
    color: $color-grey-dark;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
  }
}

.field-title {
  margin-bottom: 8px;

  h4 {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 8px;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .field-tooltip {
    display: inline-block;

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      cursor: pointer;
      margin-right: 8px;
    }

    [data-id="tooltip"] {
      padding: 8px 12px;
      max-width: 240px;

      &[id="tooltip-alert"] {
        padding: 4px 8px;
        background-color: $warning-color;

        p {
          text-transform: uppercase;
          text-align: center;
          font-weight: 700;
          letter-spacing: 0.03em;
        }

        &::after {
          border-bottom-color: $warning-color;
        }
      }
    }

    [data-for="tooltip-alert"] {
      path,
      line {
        color: $warning-color;
      }
    }
  }
}

.field-input {
  width: 100%;
  font-size: 14px;
  padding: 8px;

  color: $color-black;
  border: solid 1px rgba($color-black, 0.2);

  &[disabled] {
    color: rgba($color-black, 0.2);
    border: solid 1px rgba($color-black, 0.1);
  }

  &::placeholder {
    font-style: italic;
    color: rgba($color-black, 0.5);
  }

  &.is-error {
    border-color: $danger-color;
  }
}

.loader {
  @include loading($w: 40px, $border-w: 4px, $spd: 1.3s, $primary: $grey-blue, $secondary: $light-grey);
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* dim the background */
}

.error {
  color: $danger-color;
  margin-bottom: 15px;
}

.button {
  @include btn($btn-outline);
  color: $color-white;

  &.button-danger {
    @include btn($danger-color, $text: $color-white);
  }

  &.button-success {
    @include btn($success-color, $text: $color-white);
  }
}
