@import "../styles/abstracts/__abstracts.scss";

@media print {
  #header-ui,
  #top-header-ui {
    display: none;
  }
}

#top-header-ui,
#header-ui {
  background-color: $color-blue-lighter;
}

#top-header-ui {
  z-index: 3;
  position: relative;
  padding: 1rem 2rem;
}

#header-ui {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
}

.header-container {
  max-width: $max-width;
  margin: auto;
}

.tab {
  @include font-montserrat-regular;
  color: $color-grey;
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 1.5em 1.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin: 0 7px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 5px solid $color-greyblue;

  &:hover {
    color: $brand-navy;
    border-bottom: 5px solid $brand-navy;
  }

  &.active {
    @include font-montserrat-semibold;
    pointer-events: none;
    color: $brand-navy;
    border-bottom: 5px solid $brand-navy;
  }
}

#frameless-container {
  .view-another {
    display: none;
  }
}

iframe { // renderer from OA
  padding: 0 10px;
  margin: 20px 0;
}

.view-another {
  @include btn($btn-outline);
  background-color: $color-white;
  margin: auto 0 auto auto;
  float: right;
}

.print-btn,
.send-btn {
  @include round-btn;
  padding: 0.75rem;
  margin-left: 1rem;

  i {
    color: $color-greyblue-darker;
  }

  svg {
    padding: 4px;
    height: 100%;
    width: 100%;
  }
}

.print-btn:hover,
.send-btn:hover {
  i {
    color: $color-white;
  }
}

@media only screen and (max-width: 550px) {
  #top-header-ui {
    padding: 1rem 0.5rem;
  }
}

.container > :global(.row) {
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container > :global(.row) {
    flex-direction: column;
  }

  .container > :global(.row) > :not(:first-child) {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .container > :global(.row) {
    justify-content: space-between;
  }
}
