@import "../styles/abstracts/__abstracts.scss";

#top-header-ui {
  background-color: $color-blue-lighter;
  z-index: 3;
  position: relative;
  padding: 16px 32px;

  @media print {
    display: none;
  }
}

.header-container {
  @include container-custom;
}

iframe {
  // renderer from OA
  padding: 0 10px;
  margin: 20px 0;
}

.print-btn,
.send-btn {
  @include round-btn;
  padding: 12px;
  margin-left: 16px;

  i {
    color: $color-greyblue-darker;
  }

  svg {
    padding: 4px;
    height: 100%;
    width: 100%;
  }

  &:hover {
    i {
      color: $color-white;
    }
  }
}
