@import "../styles/abstracts/__abstracts.scss";

#top-header-ui,
#header-ui {
  background-color: $color-blue-lighter;

  @media print {
    display: none;
  }
}

#top-header-ui {
  z-index: 3;
  position: relative;
  padding: 16px 32px;
}

#header-ui {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 32px;
}

.header-container {
  @include container-custom;
}

.tab {
  @include font-montserrat-regular;
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 24px 24px 16px;
  text-decoration: none;
  margin: 0 7px;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-grey;
  border-bottom: 5px solid $color-greyblue;

  &:hover {
    color: $brand-navy;
    border-bottom: 5px solid $brand-navy;
  }

  &.active {
    color: $brand-navy;
    border-bottom: 5px solid $brand-navy;

    @include font-montserrat-semibold;
    pointer-events: none;
  }
}

iframe { // renderer from OA
  padding: 0 10px;
  margin: 20px 0;
}

.print-btn,
.send-btn {
  @include round-btn;
  padding: 12px;
  margin-left: 16px;

  i {
    color: $color-greyblue-darker;
  }

  svg {
    padding: 4px;
    height: 100%;
    width: 100%;
  }

  &:hover {
    i {
      color: $color-white;
    }
  }
}
