@import "../styles/abstracts/__abstracts.scss";

.box {
  width: 100%;
  min-height: 100vh;
  padding: 50px 15px;
}

.error {
  @include container-custom;
  text-align: center;

  h2 {
    @include font-sourcesanspro-bold;
    color: $brand-orange;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;

    @include font-size(32);
    letter-spacing: 2px;

    @media only screen and (min-width: $md) {
      @include font-size(36);
      letter-spacing: 4px;
    }

    @media only screen and (min-width: $lg) {
      @include font-size(40);
      letter-spacing: 6px;
    }
  }

  p {
    color: $color-black;
    padding-bottom: 10px;

    @include font-size(16);

    @media only screen and (min-width: $md) {
      @include font-size(20);
    }

    @media only screen and (min-width: $lg) {
      @include font-size(24);
    }
  }

  a {
    @include font-sourcesanspro-bold;
    display: inline-block;
    padding: 15px 35px;
    background-color: $brand-navy;
    border: none;
    border-radius: 40px;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s background-color $easeOutCubic, 0.3s color $easeOutCubic;

    @include font-size(14);

    &:hover {
      background-color: $brand-orange;
      color: $color-white;
    }
  }
}
