.simple-verify-block {
  width: 100%;
  min-width: 320px;
  color: white;
  box-shadow: 2px 2px 4px 0 red;
  border-radius: 5px;
}

.arrow {
  margin: 0 15px;
}

.verification-text {
  word-break: break-all;
}

.verified-icon {
  margin: 0 10px;
}
