@import "../../../styles/abstracts/__abstracts.scss";

.logo {
  img {
    height: 50px;
  }
}

.topnavbar {
  padding: 20px 0;

  @media print {
    display: none;
  }
}

.topnavbar-item {
  @include font-montserrat-medium;

  a {
    @include font-montserrat-medium;
    @include font-size(16);
    color: $color-greyblue;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }

    &.active {
      color: $color-white;
    }
  }
}
