@import "../../../styles/abstracts/__abstracts.scss";

.innerbar {
  @include container-custom;
  display: block;

  img {
    height: 50px;
  }

  @media screen and (min-width: $md) {
    display: flex;
    justify-content: flex-start;
  }
}

.navbar {
  display: block;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: $brand-navy;
  padding-top: 16px;
  padding-bottom: 16px;

  @media print {
    display: none;
  }
}

.nav-item {
  @include font-montserrat-medium;
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }

  a {
    @include font-montserrat-medium;
    color: $color-greyblue;

    @include font-size(18);

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  &.active {
    a {
      color: $color-white;
      pointer-events: none;
    }
  }
}

.navbar-toggler {
  display: none;
}
