@import "../../../styles/abstracts/__abstracts.scss";

.innerbar {
  @include l-main;
  margin: 0 auto;

  img {
    height: 50px;
  }
}

.navbar {
  display: block;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: $brand-navy;
  padding: 1rem 1rem;

  @media print {
    display: none;
  }
}

.nav-item {
  @include font-montserrat-medium;

  a {
    @include font-montserrat-medium;
    color: $color-greyblue;
    font-size: 1.15rem;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  &.active {
    a {
      color: $color-white;
      pointer-events: none;
    }
  }
}

.navbar-toggler {
  display: none;
}

@media (max-width: 767px) {
  .innerbar {
    display: block;
  }

  .nav-item {
    display: block;
    padding: 0.5rem 0;
    text-align: right;
  }

  .navbar-toggler {
    display: inline-block;
    position: absolute;
    right: 30px;
    padding: 0.25rem 0;
    line-height: 1;
    // color: rgba(255,255,255,.5);

    background-color: transparent;
    border: transparent;

    &:hover {
      text-decoration: none;
      filter: brightness(110%);
    }
  }

  .toggler-icon {
    height: 2em;
    width: 2em;
    color: $brand-blue;
  }
}
