:root {
  -webkit-font-smoothing: antialiased;
  --brand-navy: #324353;
  --brand-blue: #0099cc;
  --brand-orange: #ff9933;
  --grey-lightest: #f5f5f5;
  --grey-lighter: #e5e5e5;
  --grey: #8f8f8f;
  --red: #ff5268;
  --blue: #099de3;
  --blue-lighter: #f3f8fc;
  --green: #00c04a;
  --orange: #ffb152;
  --padding-dropzone-boxshadow: 10px;
  --grid-gutter-width: 30px;
  --mw-sm: 540px;
  --mw-md: 720px;
  --mw-lg: 960px;
  --mw-xl: 1140px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* START - global */
html {
  font-size: 100%;
}

body {
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

svg {
  transition: color 0.3s var(--ease-out-cubic);
}

a {
  transition: color 0.3s var(--ease-out-cubic);
  color: var(--brand-blue);
}

a:hover {
  color: #006080;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > main {
  flex: 1;
}

.wrapper [data-location="/training-videos"] > main {
  background-color: var(--grey-lightest);
}

.wrapper [data-location="/settings"] > main {
  background-color: var(--blue-lighter);
}
/* END - global */

/* START - helpers */
.padding-dropzone-boxshadow {
  padding: var(--padding-dropzone-boxshadow);
}

.bg-grey-lightest {
  background-color: var(--grey-lightest);
}

.bg-brand-navy {
  background-color: var(--brand-navy);
}

.bg-red {
  background-color: var(--red);
}

.bg-blue-lighter {
  background-color: var(--blue-lighter);
}

.text-red {
  color: var(--red);
}

.text-blue {
  color: var(--blue);
}

.text-orange {
  color: var(--orange);
}

.text-green {
  color: var(--green);
}

.text-brand-navy {
  color: var(--brand-navy);
}

.text-grey {
  color: var(--grey);
}

.loader {
  width: 40px;
  height: 40px;
  margin-top: calc(- (40px / 2));
  margin-left: calc(- (40px / 2));
  position: relative;
  top: 50%;
  left: 50%;
  padding: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-top-color: #8c8c8c;
  border-left-color: #bfbfbf;
  border-bottom-color: #bfbfbf;
  border-right-color: #bfbfbf;
  animation: spinning 0.9s linear infinite;
}

.loader-skeleton:empty::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-color: var(--grey-lighter);
  background-image: linear-gradient(
    to left,
    var(--grey-lighter) 0%,
    var(--grey-lightest) 50%,
    var(--grey-lighter) 100%
  );
  background-size: 50% 100%;
  width: 260px;
  height: 24px;
  border-radius: 2px;
  animation: skeleton-loading 1.4s infinite;
}

.fill {
  min-height: 100%;
  min-height: 100vh;
}
/* END - helpers */

/* START - bootstrap overwrites */
.btn-primary {
  background-color: var(--brand-orange);
  border-color: var(--brand-orange);
}

.btn-primary:hover {
  background-color: #e67300;
  border-color: #e67300;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #e67300;
  border-color: #e67300;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--brand-orange);
}
/* END - bootstrap overwrites */
