:root {
  -webkit-font-smoothing: antialiased;
  --brand-blue: #0099cc;
  --padding-dropzone-boxshadow: 10px;
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* START - global */
body {
  background-color: #ffffff;
}

button:focus {
  outline: none;
}

svg {
  transition: color 0.3s var(--ease-out-cubic);
}

a {
  transition: color 0.3s var(--ease-out-cubic);
  color: var(--brand-blue);
}

a:hover {
  color: #006080;
}
/* END - global */

/* START - helpers */
.padding-dropzone-boxshadow {
  padding: var(--padding-dropzone-boxshadow);
}
/* END - helpers */
