@tailwind base;

@layer base {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  input[disabled] {
    @apply cursor-not-allowed;
  }

  a {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply text-blue;
  }

  svg {
    display: inline; /* must leave default as `inline` else testcafe cannot select somehow */
  }

  ol,
  ul {
    list-style: decimal;
    margin: 16 0;
    padding: 0 0 0 40;
  }
}

@tailwind components;

@layer components {
  .multi-tab {
    @apply bg-white;
    @apply border-t-2;
    @apply border-transparent;
    @apply border-solid;
    @apply font-bold;
    @apply text-grey-700;
    @apply bg-grey-100;
    @apply transition-colors;
    @apply duration-200;
    @apply uppercase;
    @apply cursor-pointer;
    max-width: 220px;
  }

  .multi-tab:hover {
    @apply text-grey-800;
    @apply bg-grey-200;
  }

  .btn {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply rounded;
    @apply cursor-pointer;
    @apply py-2;
    @apply px-4;
  }
}

@tailwind utilities;

@layer utilities {
  .pulse {
    animation: pulse 3s alternate infinite;
  }

  .exact-print {
    -webkit-print-color-adjust: exact;
  }

  @media print {
    .no-print {
      display: none;
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes skeleton-loading {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 200% 0;
  }
}
