@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Gilroy-Light";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyLight/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyLight/font.woff') format('woff');
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyMedium/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyMedium/font.woff') format('woff');
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyBold/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyBold/font.woff') format('woff');
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyExtraBold/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyExtraBold/font.woff') format('woff');
}

@tailwind base;

@layer base {
  :root {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply text-cloud-800;
  }

  h1 {
    font-size: 52px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h2 {
    font-size: 40px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h3 {
    font-size: 26px;
    @apply font-ubuntu;
    @apply font-normal;
    @apply leading-tight;
  }

  h4 {
    font-size: 20px;
    @apply font-gilroy-bold;
  }

  h5 {
    font-size: 16px;
    @apply font-gilroy-bold;
  }

  h6 {
    font-size: 14px;
    @apply font-gilroy-medium;
    @apply font-normal;
  }

  p {
    font-size: 16px;
    @apply font-gilroy-medium;
    @apply font-normal;
  }

  input[disabled] {
    @apply cursor-not-allowed;
  }

  a {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply text-cerulean-300;
  }

  a:hover {
    @apply text-cerulean-500;
  }

  svg {
    display: inline; /* must leave default as `inline` else testcafe cannot select somehow */
  }

  ol,
  ul {
    list-style: decimal;
    margin: 16 0;
    padding: 0 0 0 40;
  }

  .legal h4 {
    display: inline-block;
  }

  .legal ol {
    counter-reset: section;
    list-style-type: none;
  }

  .legal ol li {
    @apply mb-2;
  }

  .legal ol li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
  }

  .legal > ol > li::before {
    @apply font-bold;
    font-size: 20px;
    content: counters(section, ".") ".";
  }
}

@tailwind components;

@layer components {
  main a {
    @apply text-cerulean-300;
  }

  .multi-tab {
    @apply bg-white;
    @apply border-t-2;
    @apply border-transparent;
    @apply border-solid;
    @apply font-bold;
    @apply text-cloud-800;
    @apply bg-cloud-100;
    @apply transition-colors;
    @apply duration-200;
    @apply uppercase;
    @apply cursor-pointer;
    max-width: 220px;
  }

  .multi-tab:hover {
    @apply text-cloud-800;
    @apply bg-cloud-200;
  }

  .btn {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply rounded;
    @apply cursor-pointer;
    @apply py-2;
    @apply px-4;
  }

  .skeleton:empty::after {
    @apply block;
    @apply bg-no-repeat;
    content: "";
    background-color: #e5e5e5;
    background-image: linear-gradient(to left, #e5e5e5 0%, #f5f5f5 50%, #e5e5e5 100%);
    background-size: 50% 100%;
    height: 24px;
    border-radius: 2px;
  }

  .endorsement-chain > *:first-of-type .dot-path {
    bottom: 0;
    height: 50%;
  }
  .endorsement-chain > *:last-of-type .dot-path {
    height: 50%;
  }
  .endorsement-chain > *:last-of-type .path {
    height: 0;
  }
}

@tailwind utilities;

@layer utilities {
  .pulse {
    animation: pulse 3s alternate infinite;
  }

  .skeleton-loading:empty::after {
    animation: skeleton-loading 1.4s infinite;
  }

  .exact-print {
    -webkit-print-color-adjust: exact;
  }

  .aspect-16-9 {
    position: relative;
    width: 100%;
  }

  .aspect-16-9::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: calc(9 / 16 * 100%);
  }

  .aspect-16-9::after {
    content: "";
    display: table;
    clear: both;
  }

  .wysiwyg img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  .wysiwyg p,
  .wysiwyg h3 {
    @apply my-4;
    @apply text-cloud-800;
    @apply break-words;
  }

  .wysiwyg a {
    @apply break-words;
    @apply text-cerulean-300;
    @apply hover:text-cerulean-500;
  }

  .wysiwyg ol,
  .wysiwyg ul {
    @apply pl-8;
  }

  @media print {
    .no-print {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes skeleton-loading {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 200% 0;
  }
}
