name: Lighthouse

on: [push]

jobs:
  lhci:
    if: ${{ !contains(github.event.head_commit.message, '[skip test]') }}
    name: Lighthouse Desktop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: npm install, build
        run: |
          npm install
          npm run build
      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.10.x
          lhci autorun
      - name: upload artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: Lighthouse reports
          path: ${{ github.workspace }}/lighthouseReport
          retention-days: 1
