// =====================================================================
// Animation
// =====================================================================

@keyframes spinning {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes skeleton-loading {
  from { background-position: -100% 0; }
  to { background-position: 200% 0; }
}

.fade-appear {
  opacity: 0;
  visibility: hidden;
}

.fade-appear-active {
  opacity: 1;
  visibility: visible;
}

.fade-appear-done {
  opacity: 1;
  visibility: visible;
}

.fade-enter {
  opacity: 0;
  visibility: hidden;
}

.fade-enter-active {
  opacity: 1;
  visibility: visible;
}

.fade-enter-done {
  opacity: 1;
  visibility: visible;
}

.fade-exit {
  opacity: 1;
  visibility: visible;
}

.fade-exit-active {
  opacity: 0;
  visibility: hidden;
}

.fade-exit-done {
  opacity: 0;
  visibility: hidden;
}

.fadescale-appear {
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
}

.fadescale-appear-active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.fadescale-appear-done {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.fadescale-enter {
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
}

.fadescale-enter-active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.fadescale-enter-done {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.fadescale-exit {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.fadescale-exit-active {
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
}

.fadescale-exit-done {
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
}
