// =====================================================================
// Global
// =====================================================================

:root {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

body {
  background-color: $color-white;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

svg {
  transition: color 0.3s $easeOutCubic;
}

a {
  transition: color 0.3s $easeOutCubic;
  color: $brand-blue;

  &:hover {
    color: darken($brand-blue, 15%);
  }
}

// "sticky" footer, allow footer to flush to bottom when in viewer page, while document is loading
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex: 1;
  }

  &[data-location="/training-videos"] {
    > main {
      background-color: $color-grey-lightest;
    }
  }

  &[data-location="/settings"] {
    > main {
      background-color: $color-blue-lighter;
    }
  }
}
