// =====================================================================
// Global
// =====================================================================

:root {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

body {
  background-color: $color-white;
}

button {
  &:focus {
    outline: none;
  }
}

svg {
  transition: color 0.3s $easeOutCubic;
}
