// =====================================================================
// Helpers
// =====================================================================

.bg-grey-lightest {
  background-color: $color-grey-lightest;
}

.bg-brand-navy {
  background-color: $brand-navy;
}

.bg-red {
  background-color: $color-red;
}

.bg-blue-lighter {
  background-color: $color-blue-lighter;
}

.text-red {
  color: $color-red;
}

.text-blue {
  color: $color-blue;
}

.text-orange {
  color: $color-orange;
}

.text-green {
  color: $color-green;
}

.text-brand-navy {
  color: $brand-navy;
}

.text-grey {
  color: $color-grey;
}

.container-custom {
  @include container-custom;
}

.loader {
  @include loading($w: 40px, $border-w: 4px, $spd: 1.3s, $primary: $color-greyblue, $secondary: $color-grey-lighter);
  position: relative;
}

.loader-skeleton {
  @include loader-skeleton;
}

.fill {
  min-height: 100%;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.exact-print {
  -webkit-print-color-adjust: exact;
}

.no-print {
  @media print {
    display: none;
  }
}
