// =====================================================================
// Helpers
// =====================================================================

.bg-light {
  background-color: $color-grey-lightest;
}

.bg-brand-navy {
  background-color: $brand-navy;
}

.bg-red {
  background: $color-red;
}

.text-red {
  color: $color-red;
}

.text-blue {
  color: $color-blue;
}

.text-orange {
  color: $color-orange;
}

.text-green {
  color: $color-green;
}

.text-brand-navy {
  color: $brand-navy;
}

.fill {
  min-height: 100%;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.exact-print {
  -webkit-print-color-adjust: exact;
}

.print-only {
  display: none;
}

.screen-only {
  display: block;
}

@media print {
  .print-only {
    display: block;
  }

  .screen-only {
    display: none;
  }
}
